<div class="input-group input-group-sm">
  	<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
  	<input ng-model="query" type="text" class="form-control" placeholder="Search Name">
</div>
<table class="table table-striped">
				<thead>
					<tr>
						<td>Name</td>
						<td>Description</td>
						<td><a href="#/new"><i class="glyphicon glyphicon-plus-sign"></i></a></td>
					</tr>
				</thead>
				<tbody>
					<tr class="animate" ng-repeat="person in crew | filter:query">
						<td>{{person.name}}</td>
						<td>{{person.description}}</td>
						<td><a href="#/edit/{{$index}}"><i class="glyphicon glyphicon-edit"></i></a></td>
					</tr>
				</tbody>
</table>