<div class="input-group input-group-sm">
  	<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
  	<input ng-model="query" type="text" class="form-control" placeholder="Search Name">
</div>
<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th><a href="#/new" title="Add Person"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate" ng-repeat="person in crew | filter:query">
						<td>{{person.name}}</td>
						<td>{{person.description}}</td>
						<td><a href="#/edit/{{$index}}" title="Edit"><i class="glyphicon glyphicon-edit"></i></a></td>
						<td><a href="#" title="Delete"><button type="button" ng-click="delete($index)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</button></a></td>
					</tr>
				</tbody>
</table>
<div>
	<span>Crew of the Enterprise: {{crew.length}}</span>
</div>