<div class="input-group input-group-sm">
  	<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
  	<input ng-model="query" type="text" class="form-control" placeholder="Search Name">
</div>
<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th><a ng-hide="crew.length >= 13" href="#/new" title="Add Person"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate" ng-repeat="person in crew | filter:query">
						<td>{{person.name}}</td>
						<td>{{person.description}}</td>
						<td><a href="#/edit/{{$index}}" title="Edit"><i class="glyphicon glyphicon-edit"></i></a></td>
						<td><a href="#" title="Delete"><button type="button" ng-click="delete($index)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</button></a></td>
					</tr>
				</tbody>
</table>
<div class="col-md-4">
	<span><h3>Crew of the Enterprise: {{crew.length}}</h3></span>
</div>


<div ng-if="crew.length == 0" class="animate-if alert alert-success col-md-8">
	<span>The Enterprise feels <strong>lonely</strong></span>
</div>

<div ng-if="crew.length > 0 && crew.length < 10" class="animate-if alert alert-success col-md-8">
	<span>The Enterprise it´s <strong>GOOOD!</strong></span>
</div>

<div ng-if="crew.length >= 10 && crew.length < 12" class="animate-if alert alert-warning col-md-8">
	<span>The Enterprise it´s almost  full!!</span>
</div>

<div ng-if="crew.length == 12" class="animate-if alert alert-warning col-md-8">
	<span><strong>Hey!</strong> Stop adding people to the crew! Or you will have to kick someone!</span>
</div>

<div ng-if="crew.length > 12" class="animate-if alert alert-danger col-md-8">
	<span>The Enterprise it´s <strong>FULL!!</strong>Now you have Kick someone! I told you!</span>
</div>
